

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
.digital-text{
    font-family: "Digi" , serif;
}
.text-blue{
    color: blue;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:black;
}
.big-text{
    font-size: 15rem;
}

.big-text *{
    font-size: inherit;
}

@font-face{
    font-family: "Digi";
    src: url("./fonts/DS-DIGI.TTF");
}

#date {
    font-size: 3.5rem;
    text-align: center;
}

.circle{
    display: inline-block;
    height: .7rem;
    width: .7rem;
    border-radius: 1rem;
    border: 1px solid rgba(125, 125, 125, 0.6);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.am {
    background-color: rgba(125, 125, 125, 0.6);
}

.pm {
    background-color: blue;
}